<!DOCTYPE html>
<html>
    <head>
        <script>
            function myFunction() {
              alert("Email has been sent successfully");
            }
            </script>
    </head>
    <body>
        <form action="/" method="POST"enctype="multipart/form-data" >
            <button type="submit" onclick="myFunction()"  class="btn btn-warning" data-toggle="modal" data-target="#Modal" style="width: 100%; height:50%;margin-top: 10%;font-size: xx-large;font-family: 'Poppins', sans-serif;">
              Start Profiling 
            </button>
          </form>
    </body>
</html>
