<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plastic Profiling</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3857a76116.js" crossorigin="anonymous"></script>
    <script>
      function myFunction() {
        alert("Email has been sent successfully");
      }
    </script>
</head>
<style>
    a:hover { 
  background-color: rgb(36,37,39);
}
hr{
    background-color: white;
}
.fa-location-arrow{
  color: rgb(29,141,238);
}
</style>
<body style="background-color: black;">
    <ul class="nav justify-content-center" style="margin-top: 2%;">
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: rgb(243,243,245); font-weight: bolder; font-size: x-large;font-family: 'Poppins', sans-serif;">Inspiration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: rgb(243,243,245); font-weight: bolder; font-size: x-large;font-family: 'Poppins', sans-serif;">Profiling</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: rgb(243,243,245); font-weight: bolder; font-size: x-large;font-family: 'Poppins', sans-serif;">Analysis</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" style="color: rgb(243,243,245); font-weight: bolder; font-size: x-large;font-family: 'Poppins', sans-serif;">Methodology</a>
          </li>
      </ul>
      <hr>
      <center>
      <p style="color: rgb(243,243,245); font-weight: bolder; font-size: x-large;font-family: 'Poppins', sans-serif;">Inspiration</p>

      <div class="container" style="margin: 2%;">
        <div class="row">
          <div class="col-sm">
            <img class="d-block w-100 " src="..\static\ocean.png" alt="First slide">  
          <p style="color: aliceblue; margin-top:5%;font-family: 'Poppins', sans-serif;">The Ocean Cleanup is a non-government engineering environmental organization based in the Netherlands in 2013,that develops technology to extract plastic pollution from the oceans. </p>              
        </div>
        <div class="col-sm">
          <img class="d-block w-100 " src="..\static\peta.png" alt="First slide">          
          <p style="color: aliceblue;margin-top:5%;font-family: 'Poppins', sans-serif;">WHO was established on 7 April 1948, and is headquartered in Geneva, Switzerland. It takes Measures to ensure the safe and environmentally sound management of health care wastes, which can prevent adverse health and environmental impacts.</p>                    
        </div>
          <div class="col-sm">
            <img class="d-block w-100 " src="..\static\un.png" alt="First slide">          
            <p style="color: aliceblue;margin-top:5%;font-family: 'Poppins', sans-serif;">PETA was founded in 1980 and is dedicated to the safety of all animals.Peta believes in abolishing plastic litter which causes animal ailments and disorders.</p>                    
          </div>
         
        </div>
      </div>
      <hr>
      <p style="color: rgb(243,243,245); font-weight: bolder; font-size: x-large;font-family: 'Poppins', sans-serif;">Profiling</p>

  <div class="container" style="margin: 2%;">
    <div class="row">
      <div class="col-sm" style="background-color:rgb(36,37,39) ;">
        <p style="color:aliceblue; margin-top:5%;font-family: 'Poppins', sans-serif;">Sorting, the first step in recycling plastic waste after collection, separates, cleans and prepares materials intended for recycling. 
            Depending on its nature, sorted plastic waste will be processed directly on the site of the recycling company responsible for receiving it or be taken to a specialist recycling centre. 
            Since there are many categories of materials and many processes, varying according to the type of product, we are going to identify the main methods used by Paprec, 
            follow the route taken by materials in recycling centres and detail the treatment methods specific to the various types of plastic waste.</p>              
      </div>
      <div class="col-sm" style="vertical-align: middle;">
        <form action="/handleUpload" method="POST" enctype="multipart/form-data">
          <div class="form-row">
            <div class="form-group col-md-6">
              <div class="custom-file">
                <input name="photo" type="file" id="myFile" class="custom-file-input" value="">
                <label class="custom-file-label" for="validatedCustomFile" style="text-align: left;">Choose Photo</label>
              </div>
            </div>
            <div class="form-group col-md-6">
              <button type="submit" class="btn btn-primary" style="text-align: center; width: 100%;">UPLOAD</button>  
            </div>
          </div>
        </form>
        <form action="/" method="POST">
          <input type="text" class="form-control" placeholder="Location" name=location>       
          <button type="submit" onclick="myFunction()" class="btn btn-success" data-toggle="modal" data-target="#Modal" style="width: 100%; height:20vh;margin-top: 3.5%;font-size: xx-large;font-family: 'Poppins', sans-serif;">
            Start Profiling
          </button>
        </form>
      </div>
    </div>
  </div>
<hr> 

  <div class="container">
    <p style="color: rgb(243,243,245); font-weight: bolder; font-size: x-large;font-family: 'Poppins', sans-serif;">Analysis</p>
    <div class="row" style="margin: 2%;">
      <div class='col-6'>
      <embed type="image/svg+xml" src={{chart|safe}} max/>
      </div>
      <div class='col-6'>
      <embed type="image/svg+xml" src={{chart2|safe}} max/>
      </div>
    </div>
    <div class="row" >
      <div class='col-12' style="margin: 5%;">
        <embed type="image/svg+xml" src={{chart3|safe}} max/>
      </div>
    </div>
  </div>
<hr>
    
</body>
</html>